<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
               <h3>Zaloguj się <a href="login">tutaj</a> albo zarejestruj się <a href="register">tutaj</a></h3>
            </NotAuthorized>
            </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Przepraszamy, nie ma takiej strony. Spóbuj innych produktów:</p>
            <RecommendedList />
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
